{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}

</body>
<main id="main-holder">
    <h1 id="login-header">Welcome to Study Buddy</h1>
    <p id = "welcome">Please Login or Signup</p>
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>

    <form id="login-form">
      <input type="text" name="email" id="email-field" class="login-form-field" placeholder="Email">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <input type="submit" value="Login" id="login-form-submit">
    </form>
    <button>Signup</button>

  </main>
</body>

{% endblock %}
