<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekly Schedule</title>
  <link rel="stylesheet" href="schedule.css">
  <script src="schedule.js"></script>
  
  
  <link rel="stylesheet" href="./timetable.js-master (open-source plugin)/dist/styles/timetablejs.css">
  <link rel="stylesheet" href="./timetable.js-master (open-source plugin)/dist/styles/demo.css">
  <!--<script src="timetable.min.js"></script> -->
</head>
<body>
    <h1>Weekly Schedule</h1>
    <button class="button current_page">Home</button>
    <button class="button navigate">Calender<br />view monthly calender</button>
    <button class="button navigate">Study Help<br />go to the Q&A form</button>
    <button class="button navigate">Assignments</button>
    <!--<input type="date" id='date'/>
    <input type="time" id='starttime'/>
    <input type="time" id='endtime'/> -->
    <br>
    <p>Enter an event to the timetable:</p>
    <label for="eventname">Event name:</label>
    <input type="text" id="eventname" name="eventname"><br>
    
    <label for="weekday">Weekday:</label>
    <input type="text" id="weekday" name="weekday"><br>
    <label for="starthour">Start: Hour (8-23)</label>
    <input type="number" id="starthour" name="starthour" min="1" max="23">
    <label for="startminute">Minute</label>
    <input type="number" id="startminute" name="startminute" min="0" max="59">
    <br>
    <label for="endhour">End: Hour (8-23)</label>
    <input type="number" id="endhour" name="endhour" min="1" max="23">
    <label for="endminute">Minute</label>
    <input type="number" id="endminute" name="endminute" min="0" max="59">
    <br>

    <button id="btn" onclick = "dynamicAdd()" type="submit">Submit</button>
    <button id = "clear" onclick= "clearTable()">Clear</button>
    <!--<button>Add</button> -->
    <div class="timetable"></div>

    <script src="./timetable.js-master (open-source plugin)/dist/scripts/timetable.js"></script>
   
   <script>
        var timetable = new Timetable();
        //timetable.useTwelveHour();
        timetable.setScope(8,1)

        timetable.addLocations(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']);
        /*
        timetable.addEvent('Demo', 'Sunday', new Date(2015,7,17,9,00), new Date(2015,7,17,11,30), { url: '#' });
        timetable.addEvent('Demo', 'Monday', new Date(2015,7,17,12), new Date(2015,7,17,13), { url: '#' });
        timetable.addEvent('Demo', 'Monday', new Date(2015,7,17,13,30), new Date(2015,7,17,15), { url: '#' });
        timetable.addEvent('Lasergaming', 'Wednesday', new Date(2015,7,17,17,45), new Date(2015,7,17,19,30), { class: 'vip-only', data: { maxPlayers: 14, gameType: 'Capture the flag' } });
        timetable.addEvent('Demo', 'Thursday', new Date(2015,7,17,21), new Date(2015,7,18,1,30), { url: '#' });
        timetable.addEvent('Demo', 'Saturday', new Date(2015,7,17,11,30), new Date(2015,7,17,20)); // options attribute is not used for this event
        timetable.addEvent('Tokyo Hackathon Livestream', 'Tuesday', new Date(2015,7,17,12,30), new Date(2015,7,17,16,15)); // options attribute is not used for this event
        timetable.addEvent('Lunch', 'Friday', new Date(2015,7,17,9,30 ), new Date(2015,7,17,11,45), { onClick: function(event) {
  window.alert('You clicked on the ' + event.name + ' event in ' + event.location + '. This is an example of a click handler');
}});
        timetable.addEvent('Cocktails', 'Sunday', new Date(2015,7,18,00,00), new Date(2015,7,18,02,00), { class: 'vip-only' });
         
        timetable.addEvent('Tokyo Hackathon Livestream', 'Tuesday', new Date(2015,7,17,12,30), new Date(2015,7,17,18,30));
        */
       

        var renderer = new Timetable.Renderer(timetable);
        renderer.draw('.timetable');

       
        function dynamicAdd(){
            //testing to dynamicaly add events
            //timetable.addEvent('Testing', 'Wednesday', new Date(2022,7,17,9,00), new Date(2022,7,17,11,30), { url: '#' });

            var eventNameInput = document.getElementById('eventname');

            var weekdayInput = document.getElementById('weekday');
            
            var eventStartHour = parseInt(document.getElementById('starthour').value);
            var eventStartMinute = parseInt(document.getElementById('startminute').value)

            var eventEndHour = parseInt(document.getElementById('endhour').value);
            var eventEndMinute = parseInt(document.getElementById('endminute').value);
            //var start = new Date(2022,7,17,eventStartHour,00);
            // timetable.addEvent(eventNameInput.value, 'Thursday', new Date(2022,7,17,12,00), new Date(2022,7,17,13,30), { url: '#' });
            //timetable.addEvent(eventNameInput.value, 'Friday', start, new Date(2022,7,17,eventStartHour,30), { url: '#' });
            
            var startDate = createDate(eventStartHour, eventStartMinute);
            var endDate = createDate(eventEndHour, eventEndMinute);
            timetable.addEvent(eventNameInput.value, weekdayInput.value, startDate, endDate, { url: '#' });
           // }
            
            
            //clear the input boxes
            eventNameInput.value = '';
            weekdayInput.value = '';
            document.getElementById('starthour').value = null;
            document.getElementById('startminute').value = null;
            document.getElementById('endhour').value = null;
            document.getElementById('endminute').value = null;
            var renderer = new Timetable.Renderer(timetable);
            renderer.draw('.timetable');
        }
        
        function createDate(hour,minute){
            var date = new Date(2022,7,17,hour,minute);
            return date;
        }
        
        function clearTable(){
            var timetable = new Timetable();
            
            timetable.setScope(8,1)

            timetable.addLocations(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']);


            var renderer = new Timetable.Renderer(timetable);
            renderer.draw('.timetable');
            
        }   

   </script>
   


</body>
</html>
